
   
/* large devices (lg)*/
@media screen and (max-width: 1200px){
     .music{
        position:relative;
    }
    
    .music-bar{
        display: none;
        position: absolute;
        z-index: 10;
        top: 43px;
        width: 300px;
        border-radius: 2px;
        background: white;
        color: black;
        border: 1px solid #c1cddb;
    }
    .music-bar div{
        color: black;
    }
    .music-bar:hover{
       background: white;
    }
    .music-icon{
        display: inline-block !important;
        width: 30px;
        text-align: center;
        color:#305075;
    }
   
}
/* medium devices (md)*/
@media screen and (max-width: 992px){
    .form-back input{
        width: 100px;
    }
    .content{
        width: 100%;
    }
  
}
/* small devices (sm)*/ 
@media screen and (max-width: 768px){
    .form-back input{
        width: 45px;
    }
    
    .user{
        padding-left: 0;
    }
    .fa-bell, .music{
        padding: 0 3px;
    }
    .music-icon{
        width: 20px;
        text-align: center;
    }
   
}
/* extra small devices (xs)*/
@media screen and (max-width: 480px){
    .form-back input{
        width: 40px;
    }
    .music-icon{
        width: 15px;
        text-align: center;
    }
    
}
/* custom devices */
@media screen and (max-width: 320px){
     .music{
        padding-left: 30px;
    }
}
@media screen and (min-width: 540px){
     .music{
        padding-left: 30px;
    }
}