/* large devices (lg)*/
@media screen and (max-width: 1200px){
    
}
/* medium devices (md)*/
@media screen and (max-width: 992px){
    
}
/* small devices (sm)*/
@media screen and (max-width: 768px){
    .header{
        width: 90% !important;
    }
    .about-wrapper .about>a{
        display: none;
    }
    .about .artist{
        margin-bottom: 60px;
    }
    .about .meet-us ul{
        -webkit-transform: none !important;
            -ms-transform: none !important;
                transform: none !important;
    }
    .about .meet-us p{
        padding: 0 !important;
    }
    .header-wrapper .header h1{
        top: 300px;
        right: 0;
    }
    .tours-wrapper .tours>ul{
        display:none;
    }
    .tours-wrapper .tours>h3{
        margin-bottom: 50px;
    }
    .music{
        width: 90% !important;
    }
}
/* extra small devices (xs)*/
@media screen and (max-width: 480px){
    .header{
        width: 100% !important;
    }
     .music{
        width: 100% !important;
    }
    #last,
    ul.navigation li:nth-child(5)::before,
    .music .discography .disco ul:nth-child(2),
    .music .discography .disco ul:nth-child(3){
        display:none !important;
    }
    
    
}
/* custom devices */
@media screen and (max-width: 320px){
    
}
